.content-confirmed {
    text-align: center;
    margin-top: 90px;
}
i.large.material-icons.check, i.large.material-icons.not-check {
    font-size: 50px;
    display: block;
    width: 100%;
}
i.check {
    color: #09af00;
}
i.not-check {
    color: #b00020;
}
.content-confirmed h3 {
    opacity: 0.8;
    margin: 0 0 40px;
}
.content-confirmed h2 {
    margin: 0 0 10px;
    opacity: 0.8;
}
.card {
    margin: 40px auto 0;
    background: #004751;
    text-align: center;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
}
.card:hover {
    opacity: 0.85;
}