.content-confirmed {
    text-align: center;
    margin-top: 90px;
}
i.large.material-icons.check, i.large.material-icons.not-check {
    font-size: 50px;
    display: block;
    width: 100%;
}
i.check {
    color: #09af00;
}
i.not-check {
    color: #b00020;
}
.content-confirmed h3 {
    opacity: 0.8;
    margin: 0 0 40px;
}
.content-confirmed h2 {
    margin: 0 0 10px;
    opacity: 0.8;
}
.card {
  margin: 0 auto 0;
}
.card-title {
  text-align: center;
  font-weight: 700;
  color: #004751;
}
p.sub-card-title {
  text-align: center;
  font-size: 15px;
  opacity: 0.6;
}
p.card-text {
  text-align: center;
}
.icon-lock {
  text-align: center;
  margin-top: 50px;
}
.icon-lock i.large.material-icons {
  font-size: 90px;
}
