<div class="container">
    <div class="row">
      <div class="col-sm-12 justify-content-center">
        <div class="icon-lock" *ngIf="confirmed">
          <i class="large material-icons">lock_outline</i>
        </div>
        <div class="card" style="width: 20rem;" *ngIf="confirmed; else notConfirmed">
          <div class="card-body">
            <div class="card-title">Resetar senha</div>
            <p class="sub-card-title">Insira sua nova senha para atualizar o acesso da sua conta</p>
            <form [formGroup]="formulario" (ngSubmit)="resetar()">
              <div class="form-group">
                <input
                  type="password"
                  class="form-control"
                  placeholder="Nova Senha"
                  formControlName="senha"
                >
              </div>
              <div class="form-group">
                <input
                  type="password"
                  class="form-control"
                  placeholder="Confirmar Nova Senha"
                  formControlName="senhaconfirm"
                >
              </div>
              <button type="submit" class="btn btn-primary btn-sm btn-block" [disabled]="formulario.invalid">altrar senha</button>
            </form>
          </div>
        </div>
        <div class="card" style="width: 20rem;margin: 15px auto 0;" *ngIf="confirmed">
          <div class="card-body">
            <p class="card-text">
              voltar para o <a class="card-link" (click)="voltaLogin()">login</a>
            </p>
          </div>
        </div>
        
        <ng-template #notConfirmed>
          <div class="content-confirmed">
            <i class="large material-icons not-check">do_not_disturb</i>
            <h2><strong>Temos um problema!</strong></h2>
            <h3>Chave de usuário não encontrada</h3>
            <p class="confirmation-msg">
              Não podemos fazer a alteração de sua senha sem a chave de usuário enviada para seu email.
              <br>
              Por favor verifique sua caixa de e-mail e clique no link que se encontra no corpo da mensagem.
            </p>
          </div>
          <div class="card" style="width: 20rem;margin: 15px auto 0;" *ngIf="confirmed">
            <div class="card-body">
              <p class="card-text">
                voltar para o <a class="card-link" (click)="voltaLogin()">login</a>
              </p>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
