.card-title {
    background-image: url("./../../../assets/trailinglib.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 95%;
    height: 80px;
    width: 100%;
}
.forgot {
    text-align: right;
}
a.forgot-link {
    font-size: 12px;
    font-weight: 700;
    margin: 15px 0 0;
    display: block;
    cursor: pointer;
}
